@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
* {
    box-sizing: border-box;
}

$radius: 20px;

@mixin gradient {
    background: #fc00ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #acb6e5, #86fde8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#acb6e5, #86fde8);
}

button {
    &:focus {
        outline: none;
    }
    cursor: pointer;
}

// body {

//     font-family: sans-serif;
//     // font-weight: 300;
//     @include gradient;

//     font-family: 'Roboto', sans-serif;

//     @apply font-medium
    
// }

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




.header {
    text-align: center;
    .app-title {
        // background-color: #fddb19;
        display: inline-block;
        padding: 15px;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: xx-large;
        color: rgba(#000000, 0.5);
    }
}

.app {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}

.contextbox {
    background-color: #fff;
    padding: 15px;
    padding-bottom: 5px;
    border-radius: 5px;
    textarea,
    input {
        width: 100%;
        resize: none;
        padding: 8px;
        border: none;
        font-size: 16px;
        &:focus {
            outline: none;
        }
    }
    .controls {
        height: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            @include gradient;
            color: #fff;
            border: none;
            text-transform: uppercase;
            font-size: 16px;
            padding: 4px 18px;
            border-radius: $radius;
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
            transition: 300ms;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            &:hover {
                box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
                
            }
        }
        .colors {
            display: flex;
            span {
                margin-right: 5px;
                $s: 25px;
                height: $s;
                width: $s;
                content: '';
                display: inline-block;
                background: red;

                $c1: #d8e2dc;
                $c2: #ffe5d9;
                $c3: #fbfaf0;
                $c4: #ffe9ee;
                $c5: #ffdde4;
                &.c1 {
                    background-color: $c1;
                }
                &.c2 {
                    background-color: $c2;
                }
                &.c3 {
                    background-color: $c3;
                }
                &.c4 {
                    background-color: $c4;
                }
                &.c5 {
                    background-color: $c5;
                }
                &.selected {
                    border: 2px solid #000;
                }
                &:hover {
                    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
                    cursor: pointer;
                    
                }

            }
        }
    }
}

.filter {
    margin-top: 25px;
    text-align: center;
    button {
        border: none;
        border: none;
        padding: 5px 10px;

        &.selected {
            border: 2px solid #000;
        }
        &:hover {
            // box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
            margin-right: 5px;
            margin-left: 5px;
            transform: scale(1.15);

            
        }
    }
}

.notes {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-transform: capitalize;
    @media all and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
    column-gap: 15px;
    row-gap: 15px;
    .note {
        border-radius: 5px;
        background-color: #fff;
        padding: 15px;
        box-shadow: 0 5px 5px rgba(#000000, 0.3);
        transition: 300px;

        display: flex;
        justify-content: space-between;
        flex-direction: column;

        &:hover {
            box-shadow: 0 5px 25px rgba(#000000, 0.3);
        }
        h3 {
            margin: 0;
        }
        .title{
            font-size:large;
            font-weight: bold;
            // color:red;
        }
        .time {
            margin-bottom: 0;
            color: #333;
            
        }

        &:hover {
            .buttons {
                opacity: 1;
            }
        }

        position: relative;
        .buttons {
            transition: 300ms;
            opacity: 0;

            display: flex;

            position: absolute;
            top: 0;
            right: 0;
            border: none;
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            button {
                &:focus {
                    outline: none;
                }
                cursor: pointer;
                border: none;
                background-color: transparent;
            }
            .delete {
                color: red;
                font-size: 20px;
            }
            .edit {
                padding-top: 5px;
                font-size: 16px;
            }
        }
    }
}

.app-footer {
    @apply text-xs  text-center text-gray-700 bg-slate-300 mt-10 
    ;
}